<p id="notice"><%= notice %>
<p>
  <strong>Resident name:</strong>
  <%= @resident.resident_name %>
</p>

<p>
  <strong>House number:</strong>
  <%= @resident.house_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resident.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @resident.telephone %>
</p>

<form action="/register" method="POST">
    <input type="hidden" id="email" name="email" value='<%= @resident.email %>'>
    <input type="hidden" id="id" name="id" value='<%= @resident.id %>'>

    <button type="submit">registrar visita</button>
</form>


<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
